{% extends 'home.html.twig' %}

{% block body %}
    {%  set isAdmin = false %}

    {% for role in user.roles %}
        {% if role == 'ROLE_ADMIN'  %}
            {% set  isAdmin = true  %}
        {% endif %}
    {% endfor %}

    <h1 style="text-align: center;font-family: cursive;font-size: -webkit-xxx-large;color: currentColor;font-weight: bold;">
        BONJOUR {{ user.username }}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-success" style="text-align: center" >
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <h3> Informations Personnelle:  </h3>

    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Usernamee</th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>

            </tr>
            </tbody>
        </table>
    </div>

    <br>
    <h3> Ensemble d'Actions:  </h3>
    <br>
    <div class="btn-group " style="position: absolute;left: 15%;right: 15% ;">
        <a href="{{  path('fos_user_profile_edit') }}" class="btn btn-info btad" style=" width: 300px;font-family: cursive;font-size: large;">
            Modifier Infos
        </a>
        <a href="{{  path('fos_user_change_password') }}" class="btn btn-primary" style=" width: 300px;font-family: cursive;font-size: large;">
            Changer Password
        </a>
        {% if isAdmin == 'true' %}


            <a data-toggle="modal" data-target="#liste" class="btn btn-success" style=" width: 300px;font-family: cursive;font-size: large;">
                Liste Utilisateurs
            </a>

        {% else %}
            <a data-toggle="modal" data-target="#verifier1" class="btn btn-danger" style=" width: 300px;font-family: cursive;font-size: large;">
                Supprimer mon compte
            </a>
        {% endif %}
    </div>


    <!-- Modal -->
    <div id="liste" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Liste des Utilisateurs</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th> Actions </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utilisateur in utilisateurs %}
                            <tr>
                                <td>{{ utilisateur.username }}</td>
                                <td>{{ utilisateur.email }}</td>
                                <td>
                                    <button type="button" class="btn btn-info">
                                        Plus
                                    </button>
                                    <a href="{{ path('supp2',{'username': utilisateur.username } ) }} ">
                                        <button type="button"  class="btn btn-danger">
                                            Supprimer
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal  verifier1 -->
    <div class="modal fade" id="verifier1" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="background-color: darkred">
                <div class="modal-body" style="text-align: center ; color: white" >
                    <p> supprimer ce compte !!!</p>
                    <p>  vous etes Sûr !!! </p>
                </div>
                <div class="modal-footer">
                        <a  href="{{ path('supp',{'username': user.username } ) }} " >
                            <button type="button" class="btn btn-default" >OUI</button>
                        </a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">NON</button>
                </div>
            </div>
        </div>
    </div>







{% endblock %}