{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<br>
<img src="{{ asset('images/Change-Password.png') }}" style="

    height: 100px;
    position: relative;
    left: 117px;
">
<br><br>

{{ form_label(form.current_password,'Current password:') }}
{{ form_widget(form.current_password,{ 'attr': {'class': 'form-control' }}) }}
{{ form_errors(form.current_password) }}

{{ form_label(form.plainPassword.first,'New password:') }}
{{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control' }}) }}
{{ form_errors(form.plainPassword.first) }}

{{ form_label(form.plainPassword.second, 'Repeat New password:') }}
{{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control' }}) }}
{{ form_errors(form.plainPassword.second) }}


<br>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
    </div>
{{ form_end(form) }}
